.title {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #484848;
}

.subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #848484;
}

.link,
.link:visited {
  color: #00244a;
  font-weight: 400;
  font-size: 16px;
}

.container {
  width: 65%;
}
