.secondary-button{
    color: #E15B56;
    background-color: white;
    height: 45px;
    border-radius: 3px;
    width: fit-content;
    border: 1px solid #E15B56;
    padding-left: 25px;
    padding-right: 25px;
    font-weight: 600;
    cursor: pointer;
}