.bar-chart {
    width: 100px;
    height: 100px;
}

.white-box {
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
}

.chart-container{
    width: 95%;
    margin: auto;
    margin-top: 50px;
}

.banner{
    width: 95%;
    margin: auto;
    border-radius: 10px;
}