.inputBoxStyle {
  background: #ffffff;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  width: 100%;
  outline: none;
  padding: 0px 45px;
  height: 50px;
  margin-bottom: 20px;
  transition: 0.2s all;
}
.inputBoxStyle:focus {
  box-shadow: 0px 0px 6px rgba(255, 140, 109, 0.6);
  border: 1px solid #ff8c6d;
}

.inputBoxStyle::placeholder {
  font-size: 18px;
  color: #bdbdbd;
}

.passwordBox {
  position: relative;
}

.icons {
  position: absolute;
  top: 15px;
  left: 15px;
}

.passwordIcon {
  position: absolute;
  bottom: 35px;
  right: 25px;
}
