@import "../../theme/mixins.scss";
@import "../../theme/variables.scss";

.input-container{
    height: 45px;
    border: 1px solid #a3a3a3;
    width: 100%;
    border-radius: 3px;
    align-items: center;
    display: flex;
    background-color: white;
    margin-top: 10px;
}


.input-filed{
    border: 0px;
    margin-left: 10px;
    border-radius: 5px;
    font-size: 1rem !important;
    :focus{
        border: 1px solid #CECECE;
    }
}


.forgot-text{
    color: #468CE2;
    cursor: pointer;
    margin-right: 10px;
    font-size: 15px;
}
.react-select-title{
    width: 180px
}

.css-13cymwt-control {
    border-width: 0px !important;
    border-style: none !important;
    border-radius: 0px !important;
}

.country-code{
    border-right: 1px solid #CECECE;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
    color: rgb(84, 84, 84);
}
input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  background-color: #eee;
}

.inputBoxStyle {
    background: white;
    width: 100%;
    border: 0px;
    border-radius: 5px;
    padding-left: 10px;
    
  }
  .inputBoxStyle:focus {
    outline: none;
  }
  
  .inputBoxStyle::placeholder {
    font-size: 14px !important;
    color: grey;
  }
  
  .cursor-not-allowed {
    cursor: not-allowed;
  }
  .numberBoxStyle {
    background: white;
    border: 2px solid#a9a9a9;
    border-radius: 5px;
    width: 100%;
    outline: none;
    padding: 0px 15px;
    height: 40px;
    transition: 0.2s all;
  }
  
  input::placeholder {
    font-size: 1rem !important;
  }

  .isMobile{
    padding-left: 0px !important;
  }

  .password-icon{
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-right: 10px;
  }