
@import "../../theme/variables.scss";

.side-bar-container {
    height: 100%;
    width: 220px;
    position: fixed;
    top: 0;
    box-shadow: -31px -24px 33px 12px black;
    left: 0;
    background-color: $white;
    transition: 0.5s;
}

.yatra-logo {
    width: 75px;
    height: 35px;
    margin: auto;
    transition: display 0.01s;
    display: block;
}
.sidebar-image-container{
    border-bottom: 2px solid $border;
    height: 62px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.menu-back-logo{
    width: 30px;
    height: 30px;
    position: absolute;
    right: -12px;
    cursor: pointer;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transition: transform 0.5s;
}


.active-label {
    line-height: 18px;
    letter-spacing: 0.02em;
    color: #ffffff;
    transition: display 0.01s;
    margin-left: 12px;
    font-weight: 500;
  }
  
  
  .in-active-label {
    transition: display 0.01s;
    line-height: 18px;
    letter-spacing: 0.02em;
    color: #8A92A6;
    margin-left: 12px;
    font-weight: 500;
  }

  .active-div {
    background-color: $primary-color !important;
    border-radius: 4px !important;
  }

  .inactivebar-icon{
    width: 20px;
    height: 20px;
    object-fit: contain;
  }
  
  .activebar-icon{
    width: 20px;
    height: 20px;
    object-fit: contain;
  }

.space{
  height: 150px;
  width: 90%;
  margin: auto;
  border-top: 2px solid #F2F3F7;
  margin-top: 10px;
}

.general{
  margin-left: 15px;
  color: #ADB5BD;
  font-weight: 600;
  margin-bottom: 5px;
}