@font-face {
  font-family: 'Rubik_Italic';
  src: url('./assets/fonts/Rubik_Italic.ttf'); 
  src: local(''),
      url('./assets/fonts/Rubik_Italic.ttf') format('truetype'); 
}

@font-face {
  font-family: 'Rubik_Light';
  src: url('./assets/fonts/Rubik_Light.ttf'); 
  src: local(''),
    url('./assets/fonts/Rubik_Light.ttf')
      format('truetype'); 
}

@font-face {
  font-family: 'Rubik_Medium';
  src: url('./assets/fonts/Rubik_Medium.ttf'); 
  src: local(''),
    url('./assets/fonts/Rubik_Medium.ttf') format('truetype'); 
}


@font-face {
  font-family: 'Rubik_MediumItalic';
  src: url('./assets/fonts/Rubik_MediumItalic.ttf'); 
  src: local(''),
    url('./assets/fonts/Rubik_MediumItalic.ttf')
      format('truetype'); 
}


@font-face {
  font-family: 'Rubik_Regular';
  src: url('./assets/fonts/Rubik_Regular.ttf');
  src: local(''),
    url('./assets/fonts/Rubik_Regular.ttf') format('truetype'); 
}


body{
  background-color: black;
  font-style: normal;
}


.font-regular-10 {
  font-family: 'Rubik_Regular';
  font-style: normal;
  font-size: 10px;
}


.font-regular-12 {
  font-family: 'Rubik_Regular';
  font-style: normal;
  font-size: 12px;
}


.font-regular-14 {
  font-family: 'Rubik_Regular';
  font-style: normal;
  font-size: 14px;
}

.font-regular-16 {
  font-family: 'Rubik_Regular';
  font-style: normal;
  font-size: 16px;
}

.font-regular-18 {
  font-family: 'Rubik_Regular';
  font-style: normal;
  font-size: 18px;
}

.font-regular-20 {
  font-family: 'Rubik_Regular';
  font-style: normal;
  font-size: 20px;
}



.font-italic-10 {
  font-family: 'Rubik_Italic';
  font-style: normal;
  font-size: 10px;
}


.font-italic-12 {
  font-family: 'Rubik_Italic';
  font-style: normal;
  font-size: 12px;
}


.font-italic-14 {
  font-family: 'Rubik_Italic';
  font-style: normal;
  font-size: 14px;
}

.font-italic-16 {
  font-family: 'Rubik_Italic';
  font-style: normal;
  font-size: 16px;
}

.font-italic-18 {
  font-family: 'Rubik_Italic';
  font-style: normal;
  font-size: 18px;
}

.font-italic-20 {
  font-family: 'Rubik_Italic';
  font-style: normal;
  font-size: 20px;
}


.font-medium-10 {
  font-family: 'Rubik_Medium';
  font-style: normal;
  font-size: 10px;
}


.font-medium-12 {
  font-family: 'Rubik_Medium';
  font-style: normal;
  font-size: 12px;
}


.font-medium-14 {
  font-family: 'Rubik_Medium';
  font-style: normal;
  font-size: 14px;
}

.font-medium-16 {
  font-family: 'Rubik_Medium';
  font-style: normal;
  font-size: 16px;
}

.font-medium-18 {
  font-family: 'Rubik_Medium';
  font-style: normal;
  font-size: 18px;
}

.font-medium-20 {
  font-family: 'Rubik_Medium';
  font-style: normal;
  font-size: 20px;
}


.font-medium-24 {
  font-family: 'Rubik_Medium';
  font-style: normal;
  font-size: 24px;
}


.font-medium-italic-10 {
  font-family: 'Rubik_MediumItalic';
  font-style: normal;
  font-size: 10px;
}


.font-medium-italic-12 {
  font-family: 'Rubik_MediumItalic';
  font-style: normal;
  font-size: 12px;
}


.font-medium-italic-14 {
  font-family: 'Rubik_MediumItalic';
  font-style: normal;
  font-size: 14px;
}

.font-medium-italic-16 {
  font-family: 'Rubik_MediumItalic';
  font-style: normal;
  font-size: 16px;
}

.font-medium-italic-18 {
  font-family: 'Rubik_MediumItalic';
  font-style: normal;
  font-size: 18px;
}

.font-medium-italic-20 {
  font-family: 'Rubik_MediumItalic';
  font-style: normal;
  font-size: 20px;
}



.font-light-10 {
  font-family: 'Rubik_Light';
  font-style: normal;
  font-size: 10px;
}


.font-light-12 {
  font-family: 'Rubik_Light';
  font-style: normal;
  font-size: 12px;
}


.font-light-14 {
  font-family: 'Rubik_Light';
  font-style: normal;
  font-size: 14px;
}

.font-light-16 {
  font-family: 'Rubik_Light';
  font-style: normal;
  font-size: 16px;
}

.font-light-18 {
  font-family: 'Rubik_Light';
  font-style: normal;
  font-size: 18px;
}

.font-light-20 {
  font-family: 'Rubik_Light';
  font-style: normal;
  font-size: 20px;
}



.font-bold-10 {
  font-family: 'Rubik_Regular';
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
}


.font-bold-12 {
  font-family: 'Rubik_Regular';
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
}


.font-bold-14 {
  font-family: 'Rubik_Regular';
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
}

.font-bold-16 {
  font-family: 'Rubik_Regular';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
}

.font-bold-18 {
  font-family: 'Rubik_Regular';
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
}

.font-bold-20 {
  font-family: 'Rubik_Regular';
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
}

