#main{
    transition: margin-left .5s;
    margin-left: 240px;
    margin-top: 10px;
    font-family: 'Inter';
}

.footer-item {
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
}